/patch/calibre
/patch/calibre.7z

.build-cache
.bzr
.bzrignore
.cache
*_ui.py
*.DS_Store
*.mdproj
*.pidb
*.pyc
*.pyj-cached
*.pyo
*.sln
*.userprefs
/.idea
/.metadata/
/.project
/.pydevproject
/.settings/
/*env*/
/build
/bypy/b
/bypy/virtual-machines.conf
/calibre_plugins/
/cmake-build-*
/dist
/docs
/icons/icns/*.iconset
/manual/.doctrees
/manual/generated
/manual/locale
/nbproject/
/resources/builtin_recipes.xml
/resources/builtin_recipes.zip
/resources/changelog.json
/resources/content-server/index-generated.html
/resources/content-server/locales.zip
/resources/ebook-convert-complete.calibre_msgpack
/resources/editor-functions.json
/resources/editor.js
/resources/fonts/liberation
/resources/hyphenation
/resources/icons.rcc
/resources/images.qrc
/resources/localization
/resources/mathjax
/resources/mozilla-ca-certs.pem
/resources/scripts.calibre_msgpack
/resources/template-functions.json
/resources/user-agent-data.json
/resources/piper-voices.json
/icons/icns/*.iconset
/setup/installer/windows/calibre/build.log
/setup/pyqt_enums
/src/calibre/plugins
/tags
/translations/
